<template name="home">
	<!-- <header>
		<div class="login-buttons">{{> loginButtons}}</div>
	</header> -->

	<main>
		<div class="container text-center">
			<h1>Welcome to Yo*, {{ currentUser.username }}</h1>
			<p>Game starting in: {{ timer }}</p>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					{{#if currentUser}}
						{{#unless currentUser.profile.isInLobby}}
							<button class="btn-join-lobby">Join Lobby</button>
						{{/unless}}
						{{#if currentUser.profile.isInLobby}}
							<button class="btn-leave-lobby">Leave Lobby</button>
							<h3>Lobby List</h3>
							<ul>
								{{#each usersInLobby}}
									<li>{{ this }}</li>
								{{/each}}
							</ul>
							<a href="/live"><button>Start Game!</button></a>
						{{/if}}
						<button class="center-block btn-logout">I'm done or want a different name</button>
					{{else}}
						<form>
							<h3 class="text-center">What's your name?</h3>
							<input name="username" type="text">
							<button>That's me!</button>
						</form>
					{{/if}}
				</div>
			</div>
		</div>
	</main>
</template>

<template name="username">
	{{ username }}
</template>
