<template name="live">
    <header>
		<div class="login-buttons">{{> loginButtons}}</div>
	</header>
    <div class="map-container">
        {{#unless geolocationError}}
            {{> googleMap name="map" options=mapOptions}}
        {{else}}
            Geolocation failed: {{geolocationError}}
        {{/unless}}
    </div>
    <div class="score-wrapper">
        Seconds Remaining: {{ timer }}
    </div>
    <div class="message-log">
    <h4>Game Log</h4>
    <table>
      <tbody>
        {{#each messages}}
        {{> message}}
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
